<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Vituum</title>
    <script type="module" src="/src/scripts/main.js"></script>
  </head>
  <body>
    <div>
      <div>Vituum Vanilla</div>

      <div>{{> html/components/test.hbs text="hola props"}}</div>
    </div>
  </body>
</html>
